<ui-toastr
[config]="{
    lable : 'show success on bottom right',
    position : 'toast-bottom-right',
    type : 'success',
    title  : 'Hurry!',
    massage : 'Save Successfully',
}"></ui-toastr>

<ui-toastr
[config]="{
    lable : 'show error on bottom left',
    position : 'toast-bottom-left',
    type : 'error',
    title  : 'Error!',
    massage : 'Some thing went wrong',
}"></ui-toastr>

<ui-toastr
[config]="{
    lable : 'show info on top right',
    position : 'toast-top-right',
    type : 'info',
    title  : 'Info!',
    massage : 'This is Info Toastr',
}"></ui-toastr>

<ui-toastr
[config]="{
    lable : 'show Warning on top left',
    position : 'toast-top-left',
    type : 'warning',
    title  : 'warning!',
    massage : 'This is warning Toastr',
}"></ui-toastr>