<div id="container">
    <img  src="https://www.1stop.ai/images/login-bg.png" alt="">
    <form [formGroup]="loginForm">
      <div id="liveAlertPlaceholder"></div>
      <div *ngIf="alertMsg" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>{{message}}</p>
        <p>Redirect to <span>{{page}}</span> within 5sec: {{timer}}sec </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        <h1 class="mb-3">Login</h1>
        <div class="mb-3">
          <label for="UserEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="UserEmail" aria-describedby="emailHelp" formControlName="UserEmail">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <div *ngIf="loginForm.get('UserEmail')?.hasError('required') && loginForm.get('UserEmail')?.touched" class="text-danger">* Email Address is Required</div>
          <div *ngIf=" !loginForm.get('UserEmail')?.valid && loginForm.get('UserEmail')?.dirty" class="text-danger">* Invalid Email Address</div>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <div class="input-group">
            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="Password" formControlName="Password">
            <div (click)="ShowPassword()" class="input-group-append" style="width: 40px; background-color: lightblue; border-radius: 0px 5px 5px 0px;">
              <svg *ngIf="showPassword" style="margin-left:7px; margin-top:5px; color:#0d6efd;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
              <svg *ngIf="!showPassword" style="margin-left:7px; margin-top:5px; color:#0d6efd;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
              </svg>
           </div>
          </div>
          <div *ngIf="loginForm.get('Password')?.hasError('required') && loginForm.get('Password')?.touched" class="text-danger">* Password is Required</div>
        </div>
        <div class="mb-3">
          <a href="/forgotPassword">Forgot Password</a>
        </div>
        <button class="btn btn-primary" (click)="Login()" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>

